# python ignores bootstrap
*.pyc
*.swp
*~
cscope*
*.pyo
_build
.coverage
.DS_Store
.ropeproject
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
conf_local.py

# Installer logs
pip-log.txt

# Thumbnails
*.db

# Unit test / coverage reports
.coverage
.tox

# Mr Developer
.mr.developer.cfg

# Pasta temporaria usada na exportacao
wetl/tasks/export/temp/

# Arquivos do PyDev
.pydevproject

# PyCharm
.idea/*
/.idea

# Jpipe
hs_err*

# Sieve
settings_local.py
gunicorn_local.py
celerycam.log
celeryd.log
celeryev.pid
settings_local_arq.py
settings_local_prod.py
static/admin
celerybeat.pid
static/collect
static/media
protected
lib/include/greenlet.h

# Diretorio de upload de tickets do bug
nohup.out

# Logs
*log-*.log
*.log.*
*.log
*.pid
junit*.xml
.editorconfig

# Teremos apenas um symlink vindo de etc/
./supervisord.conf
jobs/supervisord.conf
cdp/supervisord.conf

# Fixture para testes da baseproduto
fixtures_para_testar_baseproduto.json

# Jenkins
junit-baseproduto.xml

# Node
.grunt
.reports
node_modules
runner.html

# Sass
.sass-cache

# Redis
*.rdb

# Vagrant
.vagrant

# Django Jenkins
reports
