@import "compass";

.page-modal {
  background: image-url('bg-white.png') center center no-repeat;
  background-size: 100% 100%;

  .modal {
    width: 40rem;
    background-color: #262626;
    border-top: 1rem solid #7ab317;
    @include box-shadow(0 .4rem .4rem rgba(0, 0, 0, 0.3));
    @include border-radius(.4rem);

    > header {
      margin: 8rem 0;
      text-align: center;
    }

    > section {
      form {
        margin-bottom: 8rem;
        padding: 0 3rem;

        a {
          color: #7ab317;
          text-decoration: underline !important;
        }

        label {
          color: #fff;
        }

        input {
          width: 100%;
        }

        .field-group {
          display: flex;
        }

        .field:last-child {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;
        }
      }
    }
  }
}

.list-links {
  li {
    display: inline-block;
    border-right: .1rem solid #bbb;
    margin-right: 2rem;
    padding-right: 2rem;
    font-size: 1.1rem;
    color: #666;

    &:last-child {
      border: none;
    }
  }
}
