@import "compass";

.list-links {
  li {
    display: inline-block;
    border-right: .1rem solid #bbb;
    margin-right: 2rem;
    padding-right: 2rem;
    font-size: 1.1rem;
    color: #666;

    a {
      color: #666;
      
      &:hover {
        color: #7ab317;
      }
    }

    &:last-child {
      border: none;
    }
  }
}
