@import "../../src/elements";

.page-basic {
  > header {
    .logo {
      margin: 1.2rem 0;
      height: 2rem;
    }

    .nav-account {
      i {
        font-size: 1.9rem;
      }

      a {
        display: inline-block;
        padding: .9rem .3rem;
        color: #fff;
      }
    }

    .nav-platforms {
      padding: 2rem 2rem 0;
      width: 25rem !important;

      li {
        margin-bottom: 2rem;

        a {
          padding: 0 !important;

          &:hover {
            background-color: transparent !important;
          }
        }

        img {
          height: 3rem;
        }

        span {
          position: relative;
          margin-top: -.5rem;
          font-size: 1.2rem;
          color: #999;
        }
      }
    }

    .nav-menu {
      margin-top: .2rem;
    }

    .link-menu {
      padding: .1rem;
      font-size: 3rem;
    }
  }

  > section {
    .page-content {
      > header {
        margin-bottom: 3rem;
        background-color: #ebebeb;
        border: 1px solid #e4e4e4;

        .list {
          margin: 3rem 0;

          i {
            font-size: 2.1rem;
          }

          a {
            display: inline-block;
            padding: .2rem .3rem;
            color: #999;
          }
        }
      }
    }

    .table {
      margin-bottom: 1.5rem;

      &.no-border {
        tr:last-child td {
          border-bottom: .1rem solid #e5e5e5;
        }
      }

      .icon-error, .icon-pencil {
        color: #999;
        font-size: 1.4rem;
      }
    }

    .form {
      margin-bottom: 2rem;
      padding: 3rem;
      width: 51.5rem;
      background-color: #fff;
      border: .1rem solid #dcdcdc;
      .rounded(.4rem);

      textarea {
        width: 100%;
      }
    }
  }

  > footer {
    .logo {
      margin-right: 2rem;
      height: 2rem;
    }
  }
}
