/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.page-basic header .logo {
  margin: 1.2rem 0;
  height: 2rem;
}
.page-basic header .options {
  font-size: 2rem;
}
.page-basic header .options a {
  display: inline-block;
  padding: .6rem .3rem;
  color: #fff;
}
.page-basic header .account {
  padding: 1.2rem;
}
.page-basic section .table {
  margin-bottom: 1.5rem;
}
.page-basic section .table.no-border tr:last-child td {
  border-bottom: .1rem solid #e5e5e5;
}
.page-basic section .table .icon-error,
.page-basic section .table .icon-pencil {
  color: #999;
  font-size: 1.4rem;
}
.page-basic section .form {
  margin-bottom: 2rem;
  padding: 3rem;
  width: 51.5rem;
  background-color: #fff;
  border: .1rem solid #dcdcdc;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.page-basic section .form textarea {
  width: 100%;
}
.page-basic footer .logo {
  margin-right: 2rem;
  height: 2rem;
}
