/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*doc
---
title: Combo
name: combo
category: Formulário
---

Pode ser estilizado aplicando o atributo `disabled` ou a classe `.combo-error`.

```html_example
<select class="combo">
  <option>Opção 1</option>
  <option>Opção 2</option>
  <option>Opção 3</option>
</select>

<select class="combo" disabled>
  <option>Opção 1</option>
  <option>Opção 2</option>
  <option>Opção 3</option>
</select>

<select class="combo combo-error">
  <option>Opção 1</option>
  <option>Opção 2</option>
  <option>Opção 3</option>
</select>
```
*/
.combo {
  padding: 1.2rem;
  font-size: 1.2rem !important;
  line-height: normal !important;
  background-color: #fff;
  border: .1rem solid #ccc;
  outline: none;
  -webkit-box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  -webkit-transition: all 0.2s ease-in-out ease-out;
  -moz-transition: all 0.2s ease-in-out ease-out;
  -o-transition: all 0.2s ease-in-out ease-out;
  transition: all 0.2s ease-in-out ease-out;
}
.combo:not(.combo-error):focus {
  border-color: #7fb93a;
}
.combo.combo-error {
  border-color: #b71c1c;
}
.combo:disabled {
  background-color: #f4f4f4;
  color: #c6c6c6 !important;
  cursor: not-allowed;
}
