/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*doc
---
title: Compostos
name: composites
category: Formulário
---

```html_example
<label class="field-group field-group-normal">
  <input type="text" class="input" value="100,00" />
  <span><i class="icon-dollar"></i></span>
</label>

<label class="field-group field-group-reverse">
  <input type="file" class="file" name="image">
  <input type="text" class="input" placeholder="Escolha uma imagem..." readonly />
  <span><i class="icon-upload-cloud"></i></span>
</label>
```

*/
.field-group {
  display: inline-flex !important;
  flex-flow: row nowrap;
  vertical-align: middle;
}
.field-group .file {
  display: none;
  order: -1;
}
.field-group span {
  padding: 1rem;
  width: 4.2rem;
  font-size: 1.4rem;
  color: #666666;
  text-align: center;
  background-color: #f3f3f3;
  border: .1rem solid #ccc;
  border-left-color: #d9d9d9;
  order: 0;
  cursor: pointer;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.field-group.field-group-normal .input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  order: 1;
}
.field-group.field-group-normal span {
  border-left-color: #d9d9d9;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  order: 0;
}
.field-group.field-group-reverse .input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  order: 0;
}
.field-group.field-group-reverse span {
  border-left-color: #d9d9d9;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  order: 1;
}
