@import "../compess";

/*doc
---
title: Compostos
name: composites
category: Formulário
---

O ícone pode ser posicionado à esquerda ou à direita

```html_example
<div class="field-group">
  <span class="field-group-addon"><i class="icon-dollar"></i></span>
  <input type="text" class="input" value="100,00" />
</div>

<div class="field-group">
  <input type="text" class="input" placeholder="Escolha uma imagem..." readonly />
  <span class="field-group-addon interactive"><i class="icon-upload-cloud"></i></span>
</div>
```

*/

.field-group {
  display: inline-flex;
  flex-flow: row nowrap;
  vertical-align: middle;

  .field-group-addon {
    padding: 1rem;
    width: 4.2rem;
    font-size: 1.4rem;
    color: @gray-font;
    text-align: center;
    background-color: #f3f3f3;
    border: .1rem solid #ccc;
    .rounded(.4rem);

    &:first-child {
      border-right-color: #d9d9d9;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-left-color: #d9d9d9;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.interactive {
      cursor: pointer;

      &:hover {
        .box-shadow(0 .2rem .2rem #ccc);
        border-color: @gray-font;
      }

      &:active {
        .box-shadow(inset 0 .2rem .2rem rgba(0, 0, 0, 0.2));
      }
    }
  }

  .input {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
