/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*doc
---
title: Radios
name: radios
category: Formulário
---

## Padrão

```html_example
<label class="radio">
  <input type="radio" name="opcao" value="a" checked>
  <span>Opção A</span>
</label>

<label class="radio">
  <input type="radio" name="opcao" value="b">
  <span>Opção B</span>
</label>

<label class="radio">
  <input type="radio" name="opcao" value="c">
  <span>Opção C</span>
</label>
```
*/
.radio {
  display: inline-block !important;
}
.radio input[type="radio"] {
  display: none;
}
.radio input[type="radio"] + span {
  cursor: pointer;
}
.radio input[type="radio"] + span::before {
  content: '\2022';
  display: inline-block;
  margin-right: .5rem;
  width: 2rem;
  height: 2rem;
  color: transparent;
  font-size: 3.2rem;
  line-height: 1.7rem;
  text-align: center;
  border: .1rem solid #ccc;
  vertical-align: bottom;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}
.radio input[type="radio"]:checked + span::before {
  color: #fff;
  background-color: #6a5;
  border-color: #6a5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.radio input[type="radio"]:focus + span::before {
  border-color: #6a5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
