@import "compass";

main {
  padding-top: 5rem;

  > header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
    @include background(linear-gradient(0deg, #232526 10%, #414345 90%));
    @include box-shadow(0 .2rem .2rem rgba(0,0,0,0.3));

    .list-options {
      font-size: 2rem;
      a {
        display: inline-block;
        padding: .6rem .3rem;
        color: #999;

        &:hover {
          color: #fff;
        }
      }
    }

    .menu {
      .list {
        background-color: transparent;

        a:hover {
          background-color: rgba(255,255,255,0.05);
        }
      }
    }
  }

  > section {
    .title {
      margin: 1.5rem 0 3rem;
    }

    table {
      .icon-error, .icon-pencil {
        color: #999;
      }
    }
  }

  > footer {
    padding: 2rem 0;
    background-color: #eee;

    ul li {
      display: inline-block;
      border-right: .1rem solid #BBB;
      margin-right: 2rem;
      padding-right: 2rem;
      font-size: 1.1rem;
      color: #666;
    }
  }
}
