@import "compass";

/*doc
---
title: Badges
name: badges
category: css
---

O Badge pode ser aplicado em diversos contextos

```html_example
<span class="bdg bdg-green">Verde</span>
<span class="bdg bdg-red">Vermelho</span>
<span class="bdg bdg-yellow">Amarelo</span>
<span class="bdg bdg-grey">Cinza</span>
<span class="bdg bdg-purple">Roxo</span>
<span class="bdg bdg-pink">Rosa</span>
<span class="bdg bdg-blue">Azul</span>
```

*/

.bdg {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-transform: lowercase;
  vertical-align: middle;
  padding: .4rem 1rem;
  @include border-radius(.4rem);

  &.bdg-green {
    background-color: #7AB317;
  }
  &.bdg-red {
    background-color: #b71c1c;
  }
  &.bdg-yellow {
    background-color: #F5C221;
  }
  &.bdg-grey {
    background-color: #666666;
  }
  &.bdg-purple {
    background-color: #776B9E;
  }
  &.bdg-pink {
    background-color: #D651A1;
  }
  &.bdg-blue {
    background-color: #177eb3;
  }
}
