@import "compass";

/*doc
---
title: Badges
name: badges
category: css
---

O badge pode ser aplicado em diversos contextos

```html_example
<span class="badge badge-green">Verde</span>
<span class="badge badge-red">Vermelho</span>
<span class="badge badge-yellow">Amarelo</span>
<span class="badge badge-grey">Cinza</span>
<span class="badge badge-purple">Roxo</span>
<span class="badge badge-pink">Rosa</span>
<span class="badge badge-blue">Azul</span>
```

*/

.badge {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-transform: lowercase;
  vertical-align: middle;
  padding: .4rem 1rem;
  @include border-radius(.4rem);

  &.badge-green {
    background-color: #7AB317;
  }
  &.badge-red {
    background-color: #b71c1c;
  }
  &.badge-yellow {
    background-color: #F5C221;
  }
  &.badge-grey {
    background-color: #666666;
  }
  &.badge-purple {
    background-color: #776B9E;
  }
  &.badge-pink {
    background-color: #D651A1;
  }
  &.badge-blue {
    background-color: #177eb3;
  }
}
