@import "compass";

/*doc
---
title: Formulários
name: forms
category: composicoes
---

# Campos

```html_example
<label>Texto:</label>
<input type="text" value="Texto" />

<label>Checkbox:</label>
<input type="checkbox" /> A
<input type="checkbox" /> B
<input type="checkbox" /> C

<label>Radio:</label>
<input type="radio" name="radio" /> Radio 1
<input type="radio" name="radio" /> Radio 2

<label>Select:</label>
<select>
  <option>Opção 1</option>
  <option>Opção 2</option>
  <option>Opção 3</option>
</select>
```
*/

label {
  display: block;
  color: #666;
  font-size: 1.3rem;
  margin-bottom: .5rem;
  text-align: left;
}