/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*doc
---
title: Apresentacao
name: apresentacao
category: Index
---

Olá! Seja bem-vindo ao bootstrap da Sieve. Este framework visa agilizar as soluções de interface web visando agilidade e modularização.

*/
/*doc
---
title: Demonstração
name: demo
category: Index
---

Veja um exemplo live do bootstrap [neste exemplo](./demo/index.html).

*/
/*doc
---
title: Desenvolvimento
name: dev
category: Index
---

A regra de marcação que o boostrap segue é essa:

```
<nome-da-tag class="tipo tipo-subtipo">
   ...
</nome-da-tag>
```

Exemplos:

```html
<ul class="list list-horizontal">
   ...
</ul>

<table class="table table-sortable">
   ...
</table>

<span class="label label-yellow">...</span>

<button class="button button-default">...</button>
```

*/
/*doc
---
title: Iniciando
name: iniciando
category: Index
---

### 1. Baixe o arquivo com todos os componentes

<a href="./dist/sieve.bootstrap.zip" class="button button-success" target="_blank" download>Baixar sieve.bootstrap.zip</a>

### 2. Crie um novo arquivo html (digamos index.html) com link para o bootstrap

```
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>-coloque um título aqui</title>
  <link rel="stylesheet" href="fonts/sieve_icon_font/css/sieve-icon-font.css">
  <link rel="stylesheet" href="sieve.bootstrap.min.css">
  <!-- coloque aqui os estilos da sua página -->
</head>
<body>

</body>
</html>
```

### 3. Escolha uma [page](composicoes.html#page) e acrecente as tags dentro de `<body>`.

```
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Página Exemplo</title>
  <link rel="stylesheet" href="sieve.bootstrap.min.css">
  <!-- coloque aqui os estilos da sua página -->
</head>
<body>

  <main class="page page-basic">
    <header></header>
    <section></section>
    <footer></footer>
  </article>

</body>
</html>
```

### 4. Monte o [grid](composicoes.html#grid) dentro do `<section>` e opcionalmente dentro de `<header>` e `<footer>`. Veja o exemplo:

```
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Página Exemplo</title>
  <link rel="stylesheet" href="sieve.bootstrap.min.css">
  <!-- coloque aqui os estilos da sua página -->
</head>
<body>
  <main class="page page-basic">
    <header>
        <div class="container">
          <div class="row">
            <div class="col-md-2">...</div>
            <div class="col-md-7">...</div>
            <div class="col-md-3">...</div>
          </div>
        </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">...</div>
          <div class="col-md-4">...</div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">...</div>
        </div>
      </div>
    </footer>
  </article>
</body>
</html>
```

### 5. Agora é só começar a brincar de lego com os componentes inserindo-os nas reticências dos exemplo anterior! :)

*/
