@import "compess";

/*doc
---
title: Links
name: links
category: Texto
---

Existem 4 títulos com textos secundários opcionais.

```html_example
<a href="#" class="link link-green">clique aqui</a>
```

```html_example
<a href="#" class="link link-white">clique aqui</a>
```

*/

.link {
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }

  &.link-green {
    &:link, &:visited, &:active {
      color: #6a5;
    }
  }

  &.link-white {
    &:link, &:visited, &:active {
      color: #fff;
    }
  }

  &.link-gray {
    &:link, &:visited, &:active {
      color: #b8b8b8;
    }
  }
}
