@import "elements";

/*doc
---
title: Lista
name: lista
category: basico
---

Barra de navegação para ser utilizada como lista.

## Vertical

```html_example
<ul class="list list-vertical">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</a></li>
</ul>
```

## Horizontal

```html_example
<ul class="list list-horizontal">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>
```

*/

.list {
  display: inline-flex;
  justify-content: flex-start;
  list-style: none;

  &.list-vertical {
    flex-flow: column wrap;
  }

  &.list-horizontal {
    flex-flow: row nowrap;
  }
}
