@import "compess";

/*doc
---
title: Menu
name: menu
category: Componentes
---

Barra de navegação para ser utilizada como lista.

## Vertical

```html_example
<nav class="menu">
  <ul class="list list-vertical">
    <li><a href="javascript:void(0);">home</a></li>
    <li><a href="javascript:void(0);" class="active">profile</a></li>
    <li><a href="javascript:void(0);">about</a></li>
  </ul>
</nav>
```

## Horizontal

```html_example
<nav class="menu">
  <ul class="list list-horizontal">
    <li><a href="javascript:void(0);">home</a></li>
    <li><a href="javascript:void(0);" class="active">profile</a></li>
    <li><a href="javascript:void(0);">about</a></li>
  </ul>
</nav>
```

*/

.menu {
  display: flex;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.4rem;

  .list {
    display: flex;
    background-color: @green-default;

    a {
      display: block;
      padding: 1rem 2rem;
      color: @white;
      text-decoration: none;

      &:link, &:visited, &:active {
        display: block;
        padding: 1rem 2rem;
        color: @white;
        text-decoration: none;
      }
    }
  }

  .list-vertical {
    width: 20rem;

    a {
      border-left: .4rem solid transparent;

      &:hover {
        border-color: @white;
      }

      &.active {
        padding-left: 1.6rem !important;
        border-left: .4rem solid #88d37c;
      }
    }
  }

  .list-horizontal {

    a {
      border-bottom: .4rem solid transparent;

      &:hover {
        border-color: @white;
      }

      &.active {
        border-color: #88d37c;
      }
    }
  }
}
