@import "compass";

/*doc
---
title: Notificações
name: notifications
category: css
---

Notificações podem ser usadas para dar feedbacks ao usuário

## Sucesso

```html_example
<div class="notification notification-success">
  <span class="message">Só sucesso!</span>
  <span class="close"><i class="icon-cancel"></i></span>
</div>
```

## Erro

```html_example
<div class="notification notification-error">
  <span class="message">Deu erro!</span>
  <span class="close"><i class="icon-cancel"></i></span>
</div>
```
*/

.notification {
  z-index: 900;
  color: #fff;
  display: flex;
  font-size: 1.6rem;
  font-family: Roboto, sans-serif;
  width: 25rem;
  max-width: 60rem;
  overflow: hidden;
  @include border-radius(.4rem);
  @include box-shadow(0 .2rem .3rem #666);

  span {
    padding: 3rem;

    &.message {
      flex: 1 0;
    }

    &.close {
      font-size: 1.1rem;
      cursor: pointer;
    }
  }

  &.notification-success {
    background: #7ab317;
    .close {
      background: #5a980c;
    }
  }
  &.notification-error {
    background: #bf4343;
    .close {
      background: #941313;
    }
  }
}
