@import "compass";

/*doc
---
title: Notificações
name: notifications
category: css
---

Notificações podem ser usadas para dar feedbacks ao usuário

# Sucesso

```html_example
<div class="notification notification-success">
  <div class="content">
    <ul>
      <li class="message">Hey</li>
      <li class="close">×</li>
    </ul>
  </div>
</div>
```

# Erro

```html_example
<div class="notification notification-error">
  <div class="content">
    <ul>
      <li class="message">Hey</li>
      <li class="close">×</li>
    </ul>
  </div>
</div>
```
*/

.notification {
  z-index: 900;
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  font-family: Roboto, sans-serif;
  min-width: 20rem;
  line-height: 1.2rem;
	overflow: hidden;
  @include border-radius(.4rem);
  @include box-shadow(0 .2rem .3rem #666);
  .content {
    ul {
      position:relative;
      li {
        display: inline-block;
        padding: 3rem;

        &.close {
          cursor: pointer;
          position: absolute;
          right: 0;
          }
        }
      }
    }
  &.notification-success .content {
    background: #7ab317;
    .close {
      background: #5a980c;
    }
  }
  &.notification-error .content {
    background: #bf4343;
    .close {
      background: #941313;
    }
  }
}
