@import "compass";

/*doc
---
title: Notificações
name: notifications
category: css
---

Notificações podem ser usadas para dar feedbacks ao usuário

## Sucesso

```html_example
<div class="notification notification-success">
  <div class="content">
    <span class="message">Só sucesso!</span>
    <span class="close"><i class="icon-cancel"></i></span>
  </div>
</div>
```

## Erro

```html_example
<div class="notification notification-error">
  <div class="content">
    <span class="message">Deu erro!</span>
    <span class="close"><i class="icon-cancel"></i></span>
  </div>
</div>
```
*/

.notification {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    overflow: hidden;
    @include border-radius(.4rem);

    span {
      color: #fff;
      padding: 3rem;
      font-size: 1.6rem;
      font-family: Roboto, sans-serif;

      &.message {
        min-width: 25rem;
        max-width: 50rem;
      }

      &.close {
        display: flex;
        font-size: 1.1rem;
        cursor: pointer;

        i {
          margin: auto;
        }
      }
    }
  }

  &.notification-success {
    .content {
      background: #7ab317;

      .close {
        background: #5a980c;
      }
    }

  }
  &.notification-error {
    .content {
      background: #bf4343;

      .close {
        background: #941313;
      }
    }
  }
}
