@import "compass";

.page {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;

  > header {
    display: flex;
  }

  > section {
    flex: 1;
  }

  > footer {
    height: 10rem;
  }

  &.page-basic {
    > header {
      @include background(linear-gradient(0deg, #232526 10%, #414345 90%));
      @include box-shadow(0 .2rem .2rem rgba(0,0,0,0.3));
    }

    > footer {
      padding: 2rem 0;
      background-color: #eee;
    }
  }

  &.page-fixed-header {
    padding-top: 4rem;

    > header {
      position: fixed;
      top: 0;
      width: 100%;
      height: 4rem;
      z-index: 900;
    }
  }

  &.page-fixed-footer {
    padding-bottom: 10rem;

    > footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 10rem;
      z-index: 900;
    }
  }

  &.page-modal {
    > section {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
