/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*doc
---
title: Radios
name: radios
category: Formulário
---

## Padrão

```html_example
<label><input type="radio" class="radio" name="type1" value="a" checked> <span></span></label>
<label><input type="radio" class="radio" name="type1" value="b"> <span></span></label>
```
*/
.radio {
  display: none;
}
.radio + span {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: .2rem solid #666;
  text-indent: 2.5rem;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}
.radio + span::after {
  position: absolute;
  content: '';
  display: inline-block;
  top: .3rem;
  left: .3rem;
  width: 1rem;
  height: 1rem;
  background: #6a5;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.radio:checked + span {
  border-color: #6a5;
}
.radio:checked + span::after {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
