/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  outline: none;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  height: 100%;
}
body {
  height: 100%;
}
ol,
ul {
  list-style: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
input[type=checkbox],
input[type=radio] {
  vertical-align: middle;
}
