@import "elements";

/*doc
---
title: Interruptor
name: switchers
category: basico
---

## Horizontal

```html_example
<ul class="list list-horizontal list-switcher">
    <li><label><input type="radio" name="type1" value="a"> <span>A</span></label></li>
    <li><label><input type="radio" name="type1" value="b" checked> <span>B</span></label></li>
</ul>
```

## Vertical

```html_example
<ul class="list list-vertical list-switcher">
    <li><label><input type="radio" name="type2" value="a"> <span>A</span></label></li>
    <li><label><input type="radio" name="type2" value="b" checked> <span>B</span></label></li>
</ul>
```
*/

.list-switcher {
  vertical-align: middle;
  .rounded(.6rem);
  background-color: #98d937;

  &.list-horizontal {
    height: 1.2rem;
  }

  &.list-vertical {
    width: 1.2rem;
  }

  li {
    display: inline-flex;
    justify-content: center;

    label {
      margin: 0;
      display: inline-flex;
      align-items: center;
      cursor: pointer;

      input {
        display: none;

        &:checked + span {
            visibility: visible;
        }
      }

      span {
          visibility: hidden;
          display: inline-block;
          width: 2rem;
          height: 2rem;
          .rounded(1rem);
          background-color: #6a5;
          overflow: hidden;
          text-indent: -100rem;
          cursor: default;
      }
    }
  }
}
