/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*doc
---
title: Interruptor
name: switchers
category: basico
---

## Padrão

```html_example
<ul class="list list-horizontal list-switcher">
    <li><label><input type="radio" name="type" value="a"> <span>A</span></label></li>
    <li><label><input type="radio" name="type" value="b" checked> <span>B</span></label></li>
</ul>
```
*/
.list-switcher {
  height: 1.2rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  border-radius: 0.6rem;
  background-color: #98d937;
}
.list-switcher li {
  display: inline-flex;
}
.list-switcher li label {
  margin: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.list-switcher li label input {
  display: none;
}
.list-switcher li label input:checked + span {
  visibility: visible;
}
.list-switcher li label span {
  visibility: hidden;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  background-color: #6a5;
  overflow: hidden;
  text-indent: -100rem;
  cursor: default;
}
