@import "elements";

/*doc
---
title: Interruptor
name: switchers
category: basico
---

```html_example
<label>
    <input type="checkbox" class="switcher" />
    <span>Teste</span>
</label>
```
*/

input[type="checkbox"].switcher {
    display: none;

    & + span {
        position: relative;
        display: inline-flex;
        align-items: center;
        width: 4rem;
        height: 1rem;
        text-indent: -100rem;
        background: #f1f1f1;
        border: .1rem solid #ccc;
        cursor: pointer;
        .rounded(.5rem);
        .user-select;

        &::after {
            position: absolute;
            content: '';
            display: inline-block;
            left: -2%;
            width: 2rem;
            height: 2rem;
            background: #ccc;
            .transition;
            .rounded(1rem);
        }
    }

    &:checked + span {
        background: #98d937;
        border-color: #98d937;

        &::after {
            background: #6a5;
            left: 52%;
        }
    }
}
