@import "compass";

/*doc
---
title: Tabelas
name: tables
category: css
---

## Básico

Use a classe `.tbl` para estilizar um elemento `<table>`.

```html_example
<table class="tbl">
  <thead>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>Usuário</th>
  </thead>
  <tbody>
    <tr>
      <td>Victor</td>
      <td>Novais</td>
      <td>victornovais</td>
    </tr>
    <tr>
      <td>Leonardo</td>
      <td>Quixadá</td>
      <td>lquixada</td>
    </tr>
    <tr>
      <td>Gabriela</td>
      <td>Cardoso</td>
      <td>gabyoncé</td>
    </tr>
  </tbody>
</table>
```

## Ordenável

Use a classe `.tbl-sortable` para fazer tabelas que permitam ordenação.

```html_example
<table class="tbl tbl-sortable">
  <thead>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>Usuário</th>
  </thead>
  <tbody>
    <tr>
      <td>Victor</td>
      <td>Novais</td>
      <td>victornovais</td>
    </tr>
    <tr>
      <td>Leonardo</td>
      <td>Quixadá</td>
      <td>lquixada</td>
    </tr>
    <tr>
      <td>Gabriela</td>
      <td>Cardoso</td>
      <td>gabyoncé</td>
    </tr>
  </tbody>
</table>
```

*/

.tbl {
  width: 100%;
  border-collapse: collapse;
  border: .1rem solid #ddd;

  /* Pode estar dentro de um tbody ou thead */
  th {
    border-bottom: .1rem solid #e5e5e5;
    font-size: 1.2rem;
    font-weight: normal;
    color: #797979;
    padding: .7rem 1.2rem;
    text-align: left;
    white-space: nowrap;
  }

  thead tr {
    background-color: #f1f1f1;
  }

  tbody tr {
    background-color: #ffffff;

    td {
      padding: .8rem;
      border-bottom: .1rem solid #e5e5e5;
    }

    &:nth-child(odd) {
      background-color: #fbfbfb;
    }

    &:last-child td {
      border: none;
    }

    &.active {
      background: #f0f2f6 !important;
      &:hover {
        background: #f0f2f6 !important;
      }
    }
  }
}

.tbl-sortable {
  th:hover {
    background-color: #e5e5e5;
    cursor: pointer;
  }
}
