/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*doc
---
title: Tabelas
name: tables
category: basico
---

## Básico

Use a classe `.table` para estilizar um elemento `<table>`.
Utilize a classe `.table-no-border` para remover as bordas.

```html_example
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Usuário</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Victor</td>
      <td>Novais</td>
      <td>victornovais</td>
      <td><a href="javascript:void(0);"><i class="icon-error"></i></a></td>
    </tr>
    <tr>
      <td>Leonardo</td>
      <td>Quixadá</td>
      <td>lquixada</td>
      <td><a href="javascript:void(0);"><i class="icon-error"></i></a></td>
    </tr>
    <tr>
      <td>Gabriela</td>
      <td>Cardoso</td>
      <td>gabyoncé</td>
      <td><a href="javascript:void(0);"><i class="icon-error"></i></a></td>
    </tr>
  </tbody>
</table>
```

## Ordenável

Use a classe `.table-sortable` para fazer tabelas que permitam ordenação. A classe `.no-sort`
pode ser aplicada no header da coluna para prevenir o efeito de hover.

```html_example
<table class="table table-sortable">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Usuário</th>
      <th class="no-sort"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Victor</td>
      <td>Novais</td>
      <td>victornovais</td>
      <td><a href="javascript:void(0);"><i class="icon-error"></i></a></td>
    </tr>
    <tr>
      <td>Leonardo</td>
      <td>Quixadá</td>
      <td>lquixada</td>
      <td><a href="javascript:void(0);"><i class="icon-error"></i></a></td>
    </tr>
    <tr>
      <td>Gabriela</td>
      <td>Cardoso</td>
      <td>gabyoncé</td>
      <td><a href="javascript:void(0);"><i class="icon-error"></i></a></td>
    </tr>
  </tbody>
</table>
```

*/
.table {
  width: 100%;
  border-collapse: collapse;
  border: .1rem solid #ddd;
  /* Pode estar dentro de um tbody ou thead */
}
.table th {
  border-bottom: .1rem solid #e5e5e5;
  font-size: 1.2rem;
  font-weight: normal;
  color: #797979;
  padding: .7rem .8rem;
  text-align: left;
  white-space: nowrap;
}
.table thead tr {
  background-color: #ddd;
}
.table tbody tr {
  background-color: #fff;
}
.table tbody tr td {
  padding: .8rem;
  font-size: 1.3rem;
  border-bottom: .1rem solid #e5e5e5;
}
.table tbody tr:nth-child(odd) {
  background-color: #fbfbfb;
}
.table.table-no-border {
  border: none;
}
.table.table-sortable th:not(.no-sort):hover {
  background-color: #e5e5e5;
  cursor: pointer;
}
