@import "compass";

/*doc
---
title: Widget
name: widget
category: css
---

# Anatomia
* `<header>`: Título e ações
* `.content`: Conteúdo
* `<footer>`: Rodapé

### OBS: Por hora o widget é só um container, ainda temos que amadurecê-lo

<div class="cn">
<article>
  <header>
    <h3>Título</h3>

    <ul class="actions">
      <li><a href="javascript:void(0);"><i class="icon-plus"></i></a></li>
      <li><a href="javascript:void(0);"><i class="icon-pencil"></i></a></li>
    </ul>
  </header>

  <div class="content">
    <p> Aqui pode entrar um gráfico, uma tabela, uma lista, etc... </p>
  </div>

  <footer></footer>
</article>
</div>
*/

.cn {
  height:100%;

  * {
    line-height: normal;
  }

  article {
    > header {
      position: relative;
      @include border-top-left-radius(.3rem);
      @include border-top-right-radius(.3rem);
      background-color: #f1f1f1;

      h3 {
        padding: 1.3rem 1.2rem;
        color: #6d6d6d;
        font-size: 2rem;
        border-bottom: .1rem solid #e5e5e5;
      }

      h4 {
        color: #333;
        font-size: 1em;
      }

      h3, h4 {
        font-family: "Roboto", sans-serif;
      }

      ul {
        position: absolute;
        top: 0;
        right: 0;
        &.actions {
          border-left: .1rem solid #e5e5e5;
        }
        li {
          float: left;
          position: relative;
          a {
            display: block;
            color: #6d6d6d;
            font-size: 1.6rem;
            padding: 1.6rem;
          }
          &:hover {
            a  {
              background-color: #cccccc !important;
            }
          }
        }
      }
    }

    > .content {
      padding: 0;

      /* Serve somente para scroll ou como anchor */
      > div {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }

    > footer {
      font-size: 0.8em;
      background-color: #f8f8f8;

      h1, p {
        margin-bottom: 0;
        padding: 1em;
        text-align: left;
        border-top: none;
      }

      button {
        float: right;
        padding: 1em;
        font-size: 1em;
        background-color: #f8f8f8;
        cursor: pointer;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}
